n8n.ai.json
{
  "name": "n8n.ai",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "9ca674be-0efd-4d97-bade-3b05e0b7cf6a",
      "name": "When chat message received",
      "webhookId": "b741d6b6-744e-4d3b-b28e-ed70ea00cf22"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu adalah asisten toko laptop yang ramah. Gunakan tool Google Sheets untuk mencari informasi harga dan spesifikasi laptop. Jika user bertanya tentang laptop, kamu WAJIB mengecek data di Google Sheets terlebih dahulu. Gunakan bahasa Indonesia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "422884ef-7085-453b-9345-bd6cb42df262",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "98806ec7-c4e6-47ad-94ae-237423a7a3f2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y5qvGCj3reTyUKnD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "c62717f8-2418-4683-b09c-011a8daa375d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1mAzRVfkavcNlVOQkQQpwBWA9X92RntFH4Jd0fZfu190",
          "mode": "list",
          "cachedResultName": "data laptop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mAzRVfkavcNlVOQkQQpwBWA9X92RntFH4Jd0fZfu190/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mAzRVfkavcNlVOQkQQpwBWA9X92RntFH4Jd0fZfu190/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        208
      ],
      "id": "5a1cf88d-1616-4afb-b7d8-ea76b7975638",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BZeMlBwsQCmayRm2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "87372535-b8df-4348-997d-d3533c23064b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03bffa39c62aa3206a9199818066b629a1536f0fce9af89cde7cc71985a85ac8"
  },
  "id": "3nZvF5oKo2ztwMfE",
  "tags": []
}