RAG Pipeline.json
{
  "name": "RAG Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -144
      ],
      "id": "9d2f52ca-487c-498a-9ceb-605ac844c27d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1jjnpAPF-dybzKVvlRVOUqFc8EC5DC9SN",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -144
      ],
      "id": "b85ffa2b-4175-45b0-be76-086482757091",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FzLSCtNxJkN0LQjX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        96,
        -144
      ],
      "id": "61d3dc3b-525a-45a7-a86e-71d235da35bd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_title",
                "value": "={{ $json.info.Title }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        448,
        112
      ],
      "id": "89fd5f71-60d6-43b2-9a15-aafafe08ffa8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        320,
        -144
      ],
      "id": "54a6ab88-7aad-4bf0-be0f-11d6641796d8",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "6YD14chew5xKvBJu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        80
      ],
      "id": "b81712f8-e435-4037-a6d4-c87e8f67a2ae",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Y5qvGCj3reTyUKnD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b4d5621-c654-424c-bf4f-1bbc11119d96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03bffa39c62aa3206a9199818066b629a1536f0fce9af89cde7cc71985a85ac8"
  },
  "id": "QR0h0r9quLLstv9z",
  "tags": []
}